* {
  font-family: "Poppins", sans-serif;
}

h1 {
  margin: 10px;
  font-size: 15px;
  border: 2px solid #313131;
  padding: 5px 7px;
  font-weight: 1000;
  letter-spacing: 2px;
  text-transform: uppercase;
  background:#313131;
  color:#C2C8E8;
}

h1:hover {
  cursor: pointer;
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
  border: 2px solid #fa9f42;
}

@-webkit-keyframes color-change-2x {
  25% {
    color: #fa9f42;
    border: 2px solid #fa9f42;
  }
  100% {
    color: #ef233c;
    border: 2px solid #ef233c;
  }
}

@keyframes color-change-2x {
  25% {
    color: #fa9f42;
    border: 2px solid #fa9f42;
  }
  100% {
    color: #ef233c;
    border: 2px solid #ef233c;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eee2dc;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  font-size: 15px;
}

ul li a {
  color: #313131;
  text-decoration: none;
  transition: 0.5s;
  width: 300px;
  font-weight: bolder;
}

ul li:nth-child(1) {
  position: absolute;
  top: 18px;
  right: 10px;
}

ul li:nth-child(2) {
  position: absolute;
  right: 100px;
  top: 18px;
}

.menu {
  width: 300px;
  display: flex;
  justify-content: space-around;
}
