body {
  background:#C2C8E8;
}

  * {
    font-family: "Poppins", sans-serif;
  }
  
  .App {
    text-align: center;
  }
  
  div.Dropdown-menu div.Dropdown-option.is-selected {
    background: white;
    color: #2d4a59;
  }
  
  .Dropdown-root {
    width: 200px;
  }
  
  .dropdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:15px;
  }
  
  .close-btn {
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 20px;
  }
  
  .Dropdown-control {
    cursor: pointer;
  }
  
  .Dropdown-root .Dropdown-control {
    width: 200px;
    margin: 0 auto;
    background: none;
    color: #eee2dc;
    padding: 15px;
  }
  
  .Dropdown-root.is-open .Dropdown-menu {
    left: 200px;
    top: -34px;
  }
  
  .Dropdown-menu .Dropdown-option {
    color: #edf2f4;
    background: #16222a;
    background: -webkit-linear-gradient(to bottom, #3a6073, #16222a);
    background: linear-gradient(to bottom, #3a6073, #16222a);
    background-attachment: fixed;
  }
  
  .Dropdown-menu .Dropdown-option:hover {
    background: white;
    color: #16222a;
  }
  
  .Dropdown-root.is-open .Dropdown-menu {
    background: none;
  }
  
  span.Dropdown-arrow {
    position: absolute;
    right: 16px;
    top: 24px;
  }
  
  .header-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    color: #313131;
    height: 40vh;
  }
  
  p {
    font-size: 18px;
  }
  
  .header-main h2 {
    margin: 0;
    font-weight: 1000;
  }

  .title-2 {
    font-size: 3rem;
  }
  
  .cards-wrapper {
    padding: 50px 0;
  }

  /*Dropdown*/

  .dropdown {
    position:relative;
  }

  .dropdown-options {
    display: flex;
    flex-direction: column;
    border: 2px solid #e2c567;
    border-radius: 15px;
    position: absolute;
    right: -207px;
    top: -43px;
    width: 200px;
    background: #e2c567;
    font-weight: bolder;
    border-bottom: 3px solid #141414;
    letter-spacing: 1px;
  }

  .selected-option {
    padding: 15px 30px;
    border-radius: 20px;
    color: #ede1db;
    cursor: pointer;
    font-size: 18px;
    background: #70A288;
    font-weight: bolder;
    letter-spacing: 2px;
    border-bottom: 3px solid #141414;
    width:160px;
    text-shadow: 1px 1px 1px #000000d4;
  }

  .dropdown-options span {
    padding:10px;
    color:white;
    text-shadow: 1px 1px 1px #000000d4;
    cursor:pointer;
  }

  .dropdown-options span:hover {
    background: #0000000a;
  }

  .dropdown-options span:nth-child(1) {
    border-radius: 10px 10px 0 0;
  }

  .dropdown-options span:nth-child(4) {
    border-radius: 0 0 10px 10px;
  }

  .close {
    position: absolute;
    left: -48px;
    top: 13px;
    cursor:pointer;
  }

  .filter-text {
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media screen and (max-width: 800px) {
    .header-main {
      height: 40vh;
    }
  }

  @-webkit-keyframes color-change-2x-background {
    25% {
      background: #fa954263;
    }
    100% {
      background: #efb9232c;
    }
  }
  
  @keyframes color-change-2x-background {
    35% {
      background: #fa954263;
    }
    100% {
      background: #efb9232c;
    }
  }
  